/* business-banner-wrap S */
.business-banner-wrap.ipcon-banner {
    background-image: url(../images/ipcon/ipcon_banner.png);
}
.business-banner-wrap::before {
    display: none !important;
}
/* business-banner-wrap E */


/* ipcon-main-wrap S */
.ipcon-main-wrap {
    width: 100%;
    height: 110vh;
    background-image: url(../images/ipcon/ipcon_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.ipcon-main {
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
}
.ipcon-main p {
    width: 100%;
    font-weight: bold;
    font-size: 42px;
    line-height: 70px;
    text-align: center;
    color: #0B1125;
    transform: rotate(21.22deg);
}
.ipcon-main strong {
    color: #0047BB;
    font-size: 65px;
}
.ipcon-main em {
    position: relative;
}
.ipcon-main em::after {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0047BB;
}
/* ipcon-main-wrap E */


/* ipcon-contents-wrap S */
.ipcon-contents-wrap {
    background-image: url(../images/common/bg_shape.png);
    padding: 130px 0;
    overflow: hidden;
}
.ipcon-contents-wrap > img {
    width: 1425px;
    margin: 50px auto;
    display: block;
    padding: 0 5%;
}
.ipcon-container {
    width: 1425px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ipcon-container .logo {
    margin-bottom: 70px;
}
.ipcon-flow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.ipcon-flow.mobile-flow {
    display: none;
}
.ipcon-container p {
    font-weight: 300;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.5px;
    color: #000000;
}
/* ipcon-contents-wrap E */