/* Laptop small S */
@media all and (max-width: 1919px) {
    .header-container {
        width: 90%;
    }
    .nav-container {
        width: 90%;
    }
    
    .company-overview.content-container {
        width: 70vw;
    }
    .company-text {
        right: -18%;
    }
    .company-text::before {
        right: -30%;
        top: -10%;
    }

    .swiper-slide.last > h2 {
        font-size: 72px;
        line-height: 100px;
    }
    .menu-item {
        width: 120px;
        height: 650px;
    }
    .menu-item:nth-child(n+1):nth-child(-n+2) a {
        left: 12px;
        font-size: 52px;
    }
    .menu-item:nth-child(n+1):nth-child(-n+2) a::after {
        width: 40px;
        height: 40px;
        left: 25%;
    }
}
@media all and (max-width: 1440px) {
    .intro .intro-logo > img {
        width: 280px;
    }
    .intro .intro-logo p {
        font-size: 20px;
    }

    .campass-menu {
        width: 70px;
        height: 70px;
    }
    .campass-menu > img {
        width: 55px;
        right: -3.3px;
        top: 3.3px;
    }

    .nav-container nav a {
        font-size: 55px;
        line-height: 105px;
    }
    .nav-container nav a::before {
        height: 15px;
        bottom: 7px;
    }

    .content-container {
        width: 70vw;
    }
    .main-title-logo > img {
        width: 250px;
    }
    .main-title-text > p:first-of-type {
        font-size: 26px;
    }
    .main-title-text > p:last-of-type {
        font-size: 17px;
    }
    .main-title-text > p:last-of-type::before {
        width: 35px;
        height: 35px;
    }
    .main-title-text > p:last-of-type:hover::before {
        width: 200px;
    }


    .company-overview {
        flex-direction: column;
    }
    .company-overview > div {
        margin: 15% 0;
    }
    .company-overview > div:first-child {
        align-self: start;
    }
    .company-logo {
        align-self: start;
        top: 100px;
    }
    @keyframes rightLeft {
        0% {
            opacity: 0;
            left: -500px;
        }
        100% {
            opacity: 1;
            left: 10%;
        }
    }
    .company-logo img {
        width: 260px;
    }
    .company-logo > p {
        font-size: 18px;
        margin-top: 5px;
    }
    .company-text {
        width: 50%;
        align-self: end;
    }
    .company-text::before {
        width: 500px;
        height: 500px;
        filter: blur(200px);
    }
    .company-text p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .company-overview .pc-view {
        display: none;
    }

    .close-container{
        width: 45px;
        height: 45px;
    }
    .close-left,
    .close-right {
        width: 45px;
    }

    .ipverse-wrap > img {
        width: 250px;
    }
    .ipverse-wrap p {
        margin-top: 80px;
        font-size: 16px;
    }

    .mvp-wrap.content-container {
        width: 90%;
    }
    .mvp-wrap h2 {
        font-size: 48px;
        margin-bottom: 80px;
    }
    .mvp-icon {
        height: 120px;
    }
    .mvp-icon > img {
        width: 50px;
    }
    .mvp-icon p {
        font-size: 35px;
    }
    .mvp-text {
        font-size: 16px;
    }
    .mvp-text .pc-view {
        display: none;
    }

    .partner-wrap h2 {
        font-size: 48px;
    }
    .partner-wrap p {
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 80px;
    }
    .marquee ul {
        animation: marquee 10s linear infinite;
    }
    .marquee.on ul li {
        width: 25%;
    }

    .swiper-slide.last > h2 {
        font-size: 48px;
        line-height: 65px;
        top: -20%;
    }
    .menu-item {
        width: 90px;
        height: 500px;
    }
    .menu-item:nth-child(n+1):nth-child(-n+2) a {
        bottom: 50px;
        left: -5px;
        font-size: 36px;
    }
    .menu-item:nth-child(n+1):nth-child(-n+2) a::after {
        width: 40px;
        height: 40px;
        left: 33%;
    }
    .menu-item:nth-child(n+1):nth-child(-n+2) a::after {
        bottom: -15px;
    }

    .ir-content-wrap h2 {
        font-size: 48px;
    }
    .request-wrap li {
        height: 180px;
    }
    .request-wrap > p {
        font-size: 27px;
        line-height: 24px;
    }
    .request-wrap > p > span {
        font-size: 16px;
        margin-top: 15px;
        display: block;
    }
    .request-info {
        padding: 20px;
    }
    .request-info > .title {
        font-size: 18px;
    }
    .request-info > .info {
        bottom: 20px;
        font-size: 17px;
    }

}    
@media all and (min-width:1024px) and (max-width:1440px){
}
/* Laptop E */

/* Tablet and Mobile S */
@media all and (max-width: 1023px) {
    video.web-video {
        display: none;
    }
    video.mobile-video {
        display: block;
    }

    .ir-content .header-container,
    .header-container {
        padding: 30px 0 0 0;
    }
    .logo-wrap .logo {
        margin-right: 15px;
    }
    .content-header img,
    .logo-wrap .logo img {
        width: 120px;
    }
    .swiper-pagination {
        height: 22px;
    }

    .intro .intro-logo > img {
        width: 240px;
    }
    .intro .intro-logo p {
        font-size: 18px;
    }
    .intro .intro-logo p.web {
        display: none;
    }
    .intro .intro-logo p.mobile {
        display: block;
    }

    .campass-menu-wrap > p {
        font-size: 13px;
    }
    .campass-menu {
        width: 60px;
        height: 60px;
    }
    .campass-menu > img {
        width: 45px;
        right: -3px;
        top: 3px;
    }

    .ir-content,
    .nav-wrap {
        background-image: url(../images/common/m_bg_shape.png);
    }
    .nav-container {
        padding: 30px 0;
    }
    .nav-container nav {
        align-self: center;
    }
    .nav-container nav a {
        font-size: 47px;
        line-height: 92px;
    }
    .nav-container nav a::before,
    .nav-container nav li:hover a::before {
        display: none;
    }
    .nav-container address {
        text-align: center;
        font-size: 15px;
    }

    .content-container {
        width: 90vw;
    }
    .main-title-logo > img {
        width: 180px;
    }
    .main-title-text > p:first-of-type {
        font-size: 22px;
    }
    .main-title-text > p:last-of-type {
        font-size: 14px;
    }
    .main-title-text > p:last-of-type::before {
        width: 28px;
        height: 28px;
        right: -15px;
    }
    .main-title-text > p:last-of-type:hover::before {
        display: none;
    }

    .company-logo img {
        width: 220px;
    }
    .company-logo > p {
        font-size: 16px;
    }
    .company-text::before {
        width: 350px;
        height: 350px;
        filter: blur(120px);
    }
    .company-text p {
        font-size: 14px;
        line-height: 25px;
    }

    .close-container{
        width: 35px;
    }
    .close-left,
    .close-right {
        width: 35px;
    }
    .close-container:hover .close-left{
        transform: rotate(0deg);
    }
    .close-container:hover .close-right{
        transform: rotate(0deg);
    }

    .ipverse-wrap {
        width: 90%;
        margin: 0 auto;
    }
    .ipverse-wrap > img {
        width: 180px;
    }
    .ipverse-wrap p {
        font-size: 15px;
        line-height: 25px;
        margin-top: 65px;
    }
    .ipverse-wrap .pc-view {
        display: none;
    }

    .mvp-wrap ul {
        justify-content: center;
        flex-direction: column;
    }
    .mvp-wrap ul li {
        width: 100%;
        margin-bottom: 30px;
    }
    .mvp-wrap ul li:last-child {
        margin-bottom: 0;
    }
    .mvp-wrap h2 {
        font-size: 36px;
        margin-bottom: 60px;
    }
    .mvp-icon > img {
        width: 40px;
    }
    .mvp-icon p {
        font-size: 26px;
    }
    .mvp-text {
        font-size: 15px;
        text-align: center;
    }

    .partner-section {
        flex-direction: inherit;
    }
    .partner-wrap h2 {
        font-size: 36px;
    }
    .partner-wrap p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 60px;
    }
    .marquee,
    .marquee.on {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40%;
        padding: 20px 0;
        transition: 1.5s;
    }
    .marquee ul,
    .marquee.on ul {
        width: 90%;
        flex-wrap: wrap;
        animation: none;
    }
    .marquee ul li,
    .marquee.on ul li {
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }   
    .marquee ul li img {
        width: 75%;
    }


    .swiper-slide.last > h2 {
        font-size: 38px;
        line-height: 56px;
    }
    .menu {
        width: 100%;
        left: 0;
        top: 45%;
        text-align: center;
    }
    .menu ul {
        flex-direction: column;
        align-items: start;
    }
    .menu-item {
        width: 100%;
        height: fit-content;
        writing-mode: horizontal-tb;
        transform: skewY(0deg);
        background: none;
        box-shadow: none;
    }
    .menu-item:nth-child(n+1):nth-child(-n+2) a {
        position: static;
        bottom: 0;
        left: 0;
        line-height: 58px;
        font-size: 24px;
        color: #ffffff;
    }
    .menu-item:nth-child(n+1):nth-child(-n+2):hover a {
        margin: 0;
    }
    .menu-item:nth-child(n+1):nth-child(-n+2) a::after {
        transform: skewY(0deg) translateY(-50%);
        left: auto;
        right: calc(50% - 60px);
        top: 50%;
        bottom: 0;
        display: block;
    }
    .menu .menu-item:nth-child(n+3):nth-child(-n+5) {
        display: none;
    }
    .menu.fanwise {
        animation: none;
    }
    .menu.fanwise .menu-item:first-child,
    .menu.fanwise .menu-item:not(:first-child) {
        animation: whiteLineRes .5s linear forwards;
    }
    @keyframes whiteLineRes {
        100% {
            opacity: 0;
            visibility: hidden;
        }
    }
    .swiper.picSwiper {
        visibility: visible;
    }

    .ir-content-wrap h2 {
        font-size: 38px;
    }
    .request-wrap > p {
        font-size: 22px;
    }
    .request-wrap > p > span {
        font-size: 15px;
        margin-top: 7px;
    }
    .request-info > .title {
        font-size: 16px;
    }
    .request-info > .small {
        font-size: 12px;
    }
    .request-info > .info {
        font-size: 15px;
    }

    .ul-contact-wrap {
        width: 90%;
    }
    .ul-contact-wrap .title {
        font-size: 16px;
        width: 70px;
    }
    .ul-contact-wrap .info {
        font-size: 13px;
    }
}
/* Tablet and Mobile E */


/* Tablet S */
@media all and (min-width: 768px) and (max-width: 1023px){
    
}
/* Tablet E */

/* Mobile S */
@media all and (max-width:767px){
    .ir-content .header-container,
    .header-container {
        padding: 20px 0 0 0;
    }
    
    .content-header img,
    .logo-wrap .logo img {
        width: 70px;
    }
    .logo-wrap {
        display: block;
    }
    .swiper-pagination,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0 !important;
        flex-direction: column;
        height: 100%;
        position: relative !important;
        left: -40px !important;
        padding: 0 !important;
    }
    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        transform: translate3d(0, -40px, 0) !important;
    }

    .swiper-pagination-bullet,
    .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullet,
    .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 0 13px 0 !important;
        width: 5px !important;
        height: 5px !important;
    }
    
    .swiper-pagination-bullet::before {
        width: 1px;
        top: 5px;
        height: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
    .swiper-pagination-bullet::after {
        width: 20px !important;
        height: 20px !important;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 8px !important;
        height: 8px !important;
    }


    .nav-container {
        padding: 20px 0;
    }
    .nav-container nav a {
        font-size: 32px;
        line-height: 70px;
    }
    .nav-container address {
        font-size: 13px;
    }

    .intro .intro-logo > img {
        width: 160px;
    }
    .intro .intro-logo p {
        font-size: 13px;
    }

    .campass-menu-wrap > p {
        margin-top: 3px;
        font-size: 11px;
    }
    .campass-menu {
        width: 35px;
        height: 35px;
    }
    .campass-menu > img {
        width: 30px;
        right: -2px;
        top: 2px;
    }

    .main-section::before {
        width: 100vw;
    }
    .main-section.on::before {
        animation: topBottomRes 1.5s ease-out forwards;
    }
    @keyframes topBottomRes {
        0% {
            height: 0;
        }
        100% {
            height: 50vh;
        }
    }
    .main-title-wrap > div {
        justify-content: center;
        flex-direction: column;
    }
    .main-title-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
    .main-title-logo > img {
        width: 113px;
        top: 0;
    }
    .main-title-text > p:first-of-type {
        font-size: 16px;
    }
    .main-title-text > p:nth-of-type(2) {
        order: -1;
        width: 1px;
        margin: 10px 0;
    }
    .main-title-text > p:nth-of-type(2).on {
        animation: leftRightRes 2s linear forwards;
    }
    @keyframes leftRightRes {
        0% {
            height: 0;
        }
        100% {
            height: 40vh;
        }
    }
    .main-title-text > p:last-of-type {
        font-size: 13px;
        text-align: center;
        margin-top: 5px;
    }
    .main-title-text > p:last-of-type::before {
        width: 25px;
        height: 25px;
        right: -15px;
    }


    .company-overview.content-container {
        width: 90%;
    }
    .company-overview-wrap::before {
        animation: skewBgRes 1400ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
    }
    @keyframes skewBgRes {
        from {
            transform: skewX(-30deg) translateX(-100%) scaleX(0);
        }
        to {
            transform: skewX(-60deg) translateX(-100%) scaleX(0.8);
        }
    }
    .company-overview > div {
        margin: 0;
    }
    .company-overview > div:first-child {
        align-self: center;
        top: 0;
        margin-bottom: 50%;
    }
    .company-overview > div:last-child {
        transform: translateY(70px);
    }

    @keyframes rightLeft {
        0% {
            opacity: 0;
            left: -500px;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }
    .company-logo img {
        width: 113px;
    }
    .company-logo > p {
        font-size: 13px;
        margin-top: 2px;
    }
    .company-text {
        width: 100%;
        right: 0;
    }
    .company-text p {
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 10px;
    }

    .ipverse-wrap > img {
        width: 113px;
    }
    .ipverse-wrap p {
        font-size: 13px;
        line-height: 19px;
    }

    .mvp-wrap h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .mvp-wrap ul li {
        margin-bottom: 20px;
    }
    .mvp-icon {
        height: 65px;
        margin-bottom: 0px;
    }
    .mvp-icon > img {
        width: 27px;
    }
    .mvp-icon p {
        font-size: 18px;
        margin-left: 10px;
    }
    .mvp-text {
        font-size: 13px;
        line-height: 19px;
    }
    .partner-wrap > h2,
    .partner-wrap > p {
        width: 90%;
        margin: 0 auto;
    }
    .partner-wrap h2 {
        font-size: 24px;
        padding-bottom: 20px;
    }
    .partner-wrap p {
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 30px;
    }
    .partner-wrap .pc-view {
        display: none;
    }
    
    .marquee,
    .marquee.on {
        padding: 15px 0;
    }
    .marquee ul li,
    .marquee.on ul li{
        width: 50%;
    }
    .marquee ul li img {
        width: 50%;
    }

    .swiper-slide.last > h2 {
        font-size: 35px;
        line-height: 48px;
    }

    .menu {
        top: 50%;
    }
    .menu-item:nth-child(n+1):nth-child(-n+2) a {
        line-height: 52px;
        font-size: 20px;
    }
    .menu-item:nth-child(n+1):nth-child(-n+2) a::after {
        width: 30px;
        height: 30px;
        right: calc(50% - 55px);
    }

    .company-picture > li.on{
        display: block;
        animation: pictureUpRes .5s linear forwards;
    }
    @keyframes pictureUpRes {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .company-picture > li > img {
        width: 85%;
    }


    .ir-content-wrap h2 {
        font-size: 28px;
    }
    .request-wrap li {
        height: 140px;
    }
    .request-wrap > p {
        font-size: 17px;
        margin-bottom: 25px;
        line-height: 18px;
    }
    .request-wrap > p > span {
        font-size: 13px;
    }
    .request-info {
        padding: 10px;
    }
    .request-info > .title {
        font-size: 14px;
    }
    .request-info > .small {
        font-size: 11px;
    }
    .request-info > .info {
        bottom: 10px;
        font-size: 12px;
        word-break: break-all !important;
    }

    .ul-contact-wrap {
        width: 90%;
        margin: 3% auto;
        flex-direction: column;
    }
    .ul-contact-wrap ul:last-child {
        display: flex;
        justify-content: space-between;
    }
    .ul-contact-wrap ul li {
        display: block;
        margin-bottom: 3%;
        line-height: 25px;
    }
    .ul-contact-wrap .title {
        font-size: 13px;
        width: 100%;
    }
    .ul-contact-wrap .first .title {
        padding-bottom: 0;
    }
    .ul-contact-wrap .info {
        font-size: 12px;
    }
    .ul-contact-wrap .first .info > p {
        line-height: 25px;
    }
    .map-wrap > img.web-map {
        display: none;
    }
    .map-wrap > img.mobile-map {
        display: block;
    }

}
@media all and (max-width: 379px) {

    .nav-container nav a {
        font-size: 24px;
        line-height: 65px;
    }
    .nav-container address {
        font-size: 12px;
    }
    @keyframes skewBgRes {
        from {
            transform: skewX(-30deg) translateX(-100%) scaleX(0);
        }
        to {
            transform: skewX(-60deg) translateX(-100%) scaleX(0.7);
        }
    }
    .company-overview > div:last-child {
        transform: translateY(45px);
    }

    .ir-content-wrap h2 {
        margin: 20px 0;
    }
    .request-wrap li {
        height: 125px;
    }
    .request-wrap > p {
        font-size: 15px;
    }
    .request-wrap > p > span {
        font-size: 12px;
    }

    .ul-contact-wrap {
        width: 100%;
    }
    .ul-contact-wrap ul li {
        line-height: 20px;
    }
    .ul-contact-wrap .title {
        font-size: 12px;
    }
    .ul-contact-wrap .info {
        font-size: 10px;
    }
    .ul-contact-wrap .first .info > p {
        line-height: 20px;
    }

}
/* Mobile E */