/* bizHeader S */
.biz-header-container {
    width: 1800px;
    margin: 0 auto;
    display: flex;
    padding: 40px 0 0 0;
    flex-direction: column;
}
.business-nav-wrap {
    margin-top: 10px;
}
.business-nav-wrap nav li:hover a::before,
.business-nav-wrap nav li.on a::before {
    display: block;
    animation: navOpacity .5s ease-out forwards;
}
@keyframes navOpacity {
    0% {
        opacity: 0;
        right: -40px;
        transform: translateY(-80%);
    }
    100% {
        opacity: 1;
        right: -30px;
        transform: translateY(-50%);
    }
}
.business-nav-wrap nav a {
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 0.5px;
    line-height: 40px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}
.business-nav-wrap nav a::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 50%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background: #0047BB;
    display: none;
}
/* bizHeader E */


/* business-banner-wrap S */
.business-banner-wrap {
    width: 100%;
    height: 110vh;
    background-image: url(../images/onft/onft_banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.business-banner-wrap::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: -1;
}
.business-banner-wrap h2 {
    font-weight: 300;
    font-size: 72px;
    line-height: 70px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.5);
    position: relative;
}
.business-banner-wrap h2::before {
    position: absolute;
    content: '';
    background: #0047BB;
    width: 75px;
    height: 10px;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
}
.business-banner-wrap > p {
    font-weight: 300;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 250px 0;
}

/* scroll-wrap S */
.scroll-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    animation: upDown 2s infinite;
}
@keyframes upDown {
    0% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    20% {
        opacity: 0.5;
        transform: translateX(-50%) translateY(15px);
    }
    40% {
        opacity: 0.8;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}
.scroll-wrap > p {
    color: #fff;
    font-size: 14px;
    margin: 3px 0;
}
.scroll-wrap > div {
    display: block;
    width: 24px;
    height: 40px;
    border: 1.5px solid #fff;
    border-radius: 20px;
    position: relative;
}
.scroll-wrap > div::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    display: block;
    width: 11px;
    height: 12px;
    box-sizing: border-box;
    border: 1.5px solid #fff;
    border-radius: 50%;
    content: "";
}
.scroll-wrap > div::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border: 1.5px solid white;
    border-left: none;
    border-top: none;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    right: 0;
    bottom: -12px;
}
/* scroll-wrap E */
/* business-banner-wrap E */