footer {
  padding: 100px 0;
  background-color: #F9F9F9;
}
.footer-container {
  width: 1245px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.ipverse-info span,
.ipverse-sns > p {
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
  color: #4b4b57;
}
.ipverse-info {
  margin-left: 150px;
}
.ipverse-info > ul {
  margin-bottom: 30px;
}
.ipverse-info span:first-of-type {
  display: inline-block;
  width: 95px;
}
.ipverse-info address {
  font-weight: bold;
  font-size: 14px;
  color: #4b4b57;
}
.ipverse-info small {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #1e1e1e;
}
.ipverse-sns {
  margin: auto 0 0 auto;
}
.ipverse-sns > ul {
  margin-top: 10px;
  display: flex;
}
.ipverse-sns li {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ipverse-sns li > a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ipverse-sns li:last-child {
  margin-right: 0;
}