html,
body { 
    scroll-behavior: smooth;
}

/* onft-main-wrap S */
.onft-main-wrap {
    overflow: hidden;
    background-image: url(../images/common/bg_shape.png);
}
.business-container {
    width: 1630px;
    margin: 0 auto;
}
.onft-title-wrap {
    margin: 100px 0 200px 0;
    display: flex;
    justify-content: space-between;
    align-items: top;
    letter-spacing: 0.5px;
}
.onft-title-wrap h2 {
    font-size: 72px;
    letter-spacing: 0.5px;
    color: #000000;
    line-height: 36px;
}
.onft-title-wrap p {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #1E1E1E;
}
.onft-contents {
    display: flex;
    justify-content: space-between;
    height: 760px;
}
.onft-contents li {
    width: 25%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    position: relative;
    transition: .5s;
}
.onft-contents li:hover {
    background-size: 115%;
}
.onft-contents li::before {
    width: 0%;
    transition: .5s;
    height: 100%;
    background-color: rgba(0, 71, 187, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.onft-contents li:hover::before {
    width: 100%;
}
.onft-contents li:first-child {
    background-image: url(../images/onft/onft_sports.png);
}
.onft-contents li:nth-child(2) {
    background-image: url(../images/onft/onft_artwork.png);
}
.onft-contents li:nth-child(3) {
    background-image: url(../images/onft/onft_gaming.png);
}
.onft-contents li:last-child {
    margin-right: 0;
    background-image: url(../images/onft/onft_music.png);
}
.onft-contents li p {
    font-weight: 300;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #999999;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* blockchain-onft-wrap S */
.blockchain-onft-wrap {
    width: 100%;
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/onft/onft_blockchain_bg.png);
}
.blockchain-onft-wrap p {
    position: relative;
    font-weight: 300;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.5px;
    color: #1E1E1E;
    margin-bottom: 100px;
    z-index: 2;
}
.ipcon-container {
    width: 1245px;
    margin: 0 auto;
}
.blockchain-title {
    text-align: center;
    margin-top: 100px;
    letter-spacing: 0.5px;
    font-size: 72px;
    position: relative;
}
.blockchain-title h2 {
    display: inline-block;
    font-weight: bold;
    color: #0047BB;
    position: relative;
    border-bottom: 12px solid #000;
    z-index: 2;
}
.blockchain-title h2::before {
    width: 100%;
    height: 70px;
    top: -70px;
    position: absolute;
    content: '';
    background-color: transparent;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    z-index: 2;
}
.blockchain-title p {
    width: 1630px;
    margin: 0 auto;
    font-weight: 300;
    color: #000000;
    position: relative;
    margin-bottom: 300px;
    z-index: 2;
}
.blockchain-title p::before {
    position: absolute;
    width: calc(100% - 380px);
    height: 170px;
    top: -177px;
    content: '';
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    z-index: 2;
}
.blockchain-title img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.blockchain-onft .img-wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.blockchain-onft .img-wrap > img {
    width: 100%;
    height: 100%;
}
.blockchain-onft .img-wrap .arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.blockchain-onft .img-wrap .arrow > img {
    margin: 0 20px;
}
.blockchain-onft .img-wrap .arrow > p {
    font-weight: 300;
    font-size: 72px;
    letter-spacing: 0.5px;
    color: #0047BB;
    text-align: center;
    position: relative;
    top: -80px;
}
/* blockchain-onft-wrap E */
/* onft-main-wrap E */


/* fadeUp motion S */
.fadeUp {
    opacity: 0;
}
.fadeUp.on{
    animation: fadeUp 0.6s 0s forwards ease;
}
.onft-contents li:first-child.fadeUp.on {
    animation-delay: .2s;
}
.onft-contents li:nth-child(2).fadeUp.on {
    animation-delay: .4s;
}
.onft-contents li:nth-child(3).fadeUp.on {
    animation-delay: .6s;
}
.onft-contents li:last-child.fadeUp.on {
    animation-delay: .8s;
}
@keyframes fadeUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
/* fadeUp motion E */